@media screen and (min-width:768px) and (max-width: 1199px)  {
    
   .container { width: 768px;
   }

    .menu-open-btn,
    .menu-close-btn {
        display: none;
    }

    .header-container,
    .site-nav,
    .site-address,
    .nav-tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-tablet {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .menu-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--basic-transition)
    }

    .menu-link:hover{
        color: var(--btn-hover-active);
        outline-color: var(--btn-hover-active);
    }

    .nav-list .header-item+.header-item {
        margin-left: 40px;
    }

    .link-studio,
    .link-portfolio {
      color: var(--btn-hover-active);
  }

    .link-studio::after {
        content: "";
        position: absolute;
        display: block;
        width: 48px;
        height: 4px;
        background-color: var(--btn-hover-active);
        border-radius: 2px;
        bottom: -6px;
        color: var(--icon-hover-green);
    }

    .adress-link {
        text-decoration: none;
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--body-text);
        transition: color var(--basic-transition);
    }

    .adress-link:hover {
        color: var(--btn-hover-active);
        outline-color: var(--btn-hover-active);
}

    .address-list {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .address-list .address-item+.address-item {
        margin-top: 12px;
    }

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        height: 436px;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Dark-bg@x1tablet.jpg");
    }

    .hero-primary-heading {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
        margin-bottom: 36px;
    }

    

    .btn:hover {
    background: var(--btn-hover-active);
    outline: none; 
    }

    .btn {
        transition: background-color var(--basic-transition);
    }

    .features-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .features-item {
        flex-basis: calc((100% -15px) / 2);
    }

    .features-item:nth-child(n+3) {
        margin-top: 72px;
    }

    .features-heading {
        text-align: left;
    }

    .features-text {
        width: 356px;
    }

    .doing {
        display: none;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        gap: 24px;
        justify-content: center;
    }

    .team-social-link:hover {
    background-color: var(--btn-hover-active);
    outline: none;
}

    .team-item {
        margin-top: 72px;
        
        
    }

    
    .customers-heading {
        margin: 0;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .company-logo-item {
        margin: 12px;
        margin-top: 72px;
    }


    .logo-icon {
        transition: fill var(--basic-transition);
    }

    .logo-icon {
        fill: var(--icon-background);
        transition: fill var(--basic-transition);
    }

    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
        
        height: 456px;
    }

    .footer-blocks {
        padding:0;
        display: flex;
    }

   .desctop {
        display: none;
   }

   .tablet {
        margin-left: 93px;
   }

    .block-subscribe-form
    {
        display: none;
    }

    .logo-footer {
        text-decoration: none;
        color: var(--btn-back);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

     
    .block-logo {
        margin-right: 24px;
        margin-left: 0;
    }

    .social-media-heading {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--WHITE);
        margin-bottom: 16px;
    }

    .social-list-item-link:hover,
    .social-list-item-link:active
    {
        background-color: var(--icon-hover-green);
        outline: none;
    }

    .form-tablet {
        display: flex;        
        margin-top: 72px;
        height: 80px;

    }

    .form-field-ftr {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
    }

    .form-field-ftr label {
        text-align: left;
        width: 264px;
    }

    .form-field-ftr input::placeholder {
        color: grey;
        padding-left: 16px;
    }

    .btn-subscribe {
        display: flex;
        margin: 0;
        transform: translateY(100%);
        width: 165px;
        height: 40px;
        align-items: center;
        background: var(--btn-primary);
        border: var(--btn-primary);
        border-radius: 4px;
        font-weight: 500;
        color: var(--WHITE);
        transition: background-color var(--basic-transition);
        cursor: pointer;
    }

    .btn-subscribe::after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/icon-send.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .btn-subscribe:hover {
        background: var(--btn-hover-active);
        outline: none;
}

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity var(--basic-transition);
    }
    
    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--basic-transition);
    }
    
    .modal {
        position: relative;
        top: 96px;
        left:50%;
        transform: translateX(-50%);
        padding: 24px;
        width: 408px;
        height: 586px;
        background-color: var(--modal-bcgd);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: opacity var(--basic-transition);
    }
    
    .close-btn {
        position: absolute;
        top: var(--basic-margin);
        right: var(--basic-margin);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--btn-border);
        transition: background-color var(--basic-transition);
    }
    
    .close-btn:is(:hover, :focus) {
        background-color: var(--btn-hover-active);
        fill: var(--WHITE);
    }
    
    .modal-heading {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 48px;
        margin-bottom: 16px;
        letter-spacing: 0.02em;
    }
    
    .form-field-modal:focus-within > .icon {
        fill: var(--btn-hover-active);
    }
    
    
    .form-field-modal {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-bottom: 8px;
    }
    
    .form-field-modal input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color:var(--modal-bcgd);
        height: 40px; 
    }
    
    .form-field-modal textarea::placeholder {
        color: rgba(46, 47, 66, 0.4);
        font-size: 12px;
        
    }
    
    .form-field-modal label {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        color: var(--modal-labels);
    }
    
    textarea {
        resize: none;
        height: 120px;
        font-family: inherit;
        font-weight: inherit;
        font-size: 12px;
        line-height: 1.17;
        color: var(--site-primary);
        padding: 8px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color: var(--modal-bcgd);
        transition: outline-color var(--basic-transition);
        
    }
    
    input {
        color: var(--site-primary);
        transition: outline-color var(--basic-transition);
    }
    
    input:focus {
        outline-color: var(--btn-primary);
    }
    
    textarea:focus {
        outline-color: var(--btn-hover-active);
    }
    
    .btn-modal {
        display: block;
        position: absolute;
        bottom: var(--basic-margin);
        left: 119px;
        background: var(--btn-primary);
        border-radius: 4px;
        border: var(--btn-primary);
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4px;
        letter-spacing: 0.04em;
        color: var(--WHITE);
        cursor: pointer;
        width: 169px;
        height: 56px;
        margin: 0 auto;
        text-decoration: none;
        transition: background-color var(--basic-transition);;
    }
    
    .btn-modal:hover,
    .btn-modal:focus {
        background: var(--btn-hover-active);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        outline: none;
        }
    
    .icon {
        position: absolute;
        fill: var(--site-primary);
        bottom: 8px;
        left: 16px;
        }
    
    
    
    .policy-block {
        position: relative;
        display: flex;
    }
    
    .policy-text {
        text-align: center;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
        margin-left: 24px;
    }
    
    .policy-link {
        line-height: 1.33;
        color: var(--btn-hover-active);
    }
    
    .policy-text::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #FCFCFC;
        border: var(--site-primary) 1px solid;
        border-radius: 2px;
        align-items: center;
        left: 0;
    }
    
    .checkbox:checked + .policy-text::before {
        background-color: var(--btn-hover-active);
        background-image: url(../images/vector-checkbox.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px 8px;
        border-color: var(--btn-hover-active);
    }
    
    .checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 0;
    }

}

@media screen and (min-device-pixel-ratio:2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          .hero {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Dark-bg@x2tablet.jpg");
          }
      }

